body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
}
figure {
    margin: 0;
}

/* ---------- Ediciones de header ------------- */
#header {
    z-index: 2;
}
#header, #hero {
    background-color: #1b2127;
}
#hero h1 {
    line-height: 1.5;
}
.logo-img{
    height: 70px;
}

.navbar-nav {
    flex-direction: row !important;
}

/* ---------- Final ediciones de header ------- */

/* ---------- Ediciones body -------------------*/
h1, h2, h3, h4, h5, h6, .project-details b {
    font-family: 'Fjalla One', sans-serif;
}

.project-description {
    font-size:18px;
}

.experience-item {
    background:#f4fbff;
    padding: 0 !important;
    width: 480px !important;
    border: 1px solid transparent;
    border-radius: 10px;
}
.experience-item img {
    max-width: 480px;
    max-height: 200px;
    object-fit: cover;
}
.experience-details {
    margin-top: -51px;
    position: relative;
    text-align: center;}
/* VALIDAMOS DESPUES SU FUNCIÓN
.experience-container img {
    height: 200px;
}
.experience {
    background-color: #f4fbff;
}
.experience-description {
    margin: -114px 20px 10px 20px;
    background-color: white;
    padding: 20px 20px 20px 20px;
} */
.row {
    margin: 0px !important;
}
.contact-form input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 7px 20px 7px 25px;
    background-image: url(../img/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.contact-form button {
    display: block;
    background: transparent;
    color: white;
    padding: 7px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.social-media-icons,
.social-media-icons a:hover {
    font-size: 50px;
    text-decoration: none;
}
/* ----------------- Projects --------------- */

@media (min-width: 992px) {
.container, .container-lg, .container-md, .container-sm {
    max-width: 1000px !important;
}
}